.explore-carousel-div {
    background-color: bisque;
    padding: 10px;
}

.explore-carousel-div h2{
    text-align: center;
    font-size: 30px;
    margin: 20px 0;
}

.items {
    display: flex;
    justify-content: space-evenly;
}

.cta-button {
    margin: 10px 20px 10px 0px;
    padding-top: 20px;
    display: flex;
    justify-content: flex-end;
}